name: Release
on:
  push:
    branches:
      - 'main'
      - 'v[0-9]+.[0-9]+.x'
  schedule:
    - cron: '15 7 * * *' # run at 6am UTC
jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Build
        uses: ./.github/actions/build
      - name: Release
        env:
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
          NPM_TOKEN: ${{secrets.NPM_TOKEN}}
          SLACK_WEBHOOK: ${{secrets.SLACK_WEBHOOK}}
        run: npx semantic-release
